$container-width: 700px;
$container-height: 700px;
$sphere-diameter: 500px;
$sphere-radius: 500px;
$animation-settings: linear infinite;
$animation-duration: 5s;
$base-color: #bcb8b8;
$dome-color: rgb(225, 225, 225);
$shadow-color: lighten($base-color, 4);
$after-dome-visible: false;
.shape {
  overflow: hidden;
} 

.shape {
  position: absolute;
  text-align: center;
  width: $container-width;
  height: $container-height;
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  aspect-ratio: 1;
  perspective: 1000px;
}

.sphere, 
.sphere::before, 
.sphere::after,
.shadow,
.light {
  display: inline-block;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.sphere::before, 
.sphere::after,
.shadow,
.light {
  width: 100%;
  animation-duration: $animation-duration;
}
  
.sphere::before, 
.sphere::after {
  content: '';
  background-color: $dome-color;
  height: 50%;
  visibility: hidden;
}


.light, .shadow {
  position: absolute;
  border-radius: 100%;
  transform: translateY(-50%);
  height: $sphere-radius;
  z-index: 1;
  left: -40px; 
}

.sphere::after {

}

.sphere::before {

}
  
.sphere {
  position: absolute;
  left: 100px;
  filter: blur(0px) opacity(.5) drop-shadow(16px 16px 20px red);
  width: $sphere-diameter;
  height: $sphere-diameter;
  margin: auto;
  animation-name: anim_sphere;
  animation-duration: $animation-duration * 5;
  

  &::before {
    border-radius: $sphere-radius $sphere-radius 0 0;
    animation-name: anim_top_dome;
  }
  &::after {
    border-radius: 0 0 $sphere-radius $sphere-radius;
    animation-name: anim_bottom_dome;
  }
}  

.light {
  background-color: $dome-color;
  animation-name: anim_light;
}
.shadow {
  background-color: $shadow-color;
  animation-name: anim_shadow;
}

@keyframes anim_sphere {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes anim_top_dome {
  0% {
    visibility: visible;
    z-index: 5;
  }
  20% {
    visibility: hidden;
    z-index: 0;

  }
  40% {
    visibility: hidden;
  }
  60% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes anim_bottom_dome {
  0% {
    visibility: hidden;
    $after-dome-visible: false;

  }
  20% {
    visibility: hidden;
  }
  40% {
    visibility: visible;
    $after-dome-visible: true;

  }
  60% {
    visibility: hidden;
    $after-dome-visible: false;

  }
  100% {
    visibility: hidden;
  }
}

@keyframes anim_light {
  0% {
    height: 0;
    top: 235px;

  }
  20% {
    height: 100%;
    top: 225px;

  }
  40% {
    height: 0;
    top: 240px;
  }
  60% {
    height: 0;
    top: 240px;

  }
  100% {
    height: 0;
    top: 240px;
  }
}
@keyframes anim_shadow {
  0% {
    height: 0;
    top: 235px;
  }
  20% {
    height: 0;
  }
  40% {
    height: 0;
  }
  50% {
    top: 245px;
  }
  60% {
    height: 100%;
  }
  100% {
    height: 0;
    top: 235px;

  }
}





// // orbit calcs
// $amplitude: 300px;
// $angle: 20deg;
// $x: calc(cos($angle) * $amplitude);;
// $y: calc(sin($angle) * $amplitude);;

// .planet {
//   position: absolute;
//   left: 220px;
//   bottom: 70px;

//   width: 20px;
//   height: 20px;

//   background-color: rgb(255, 255, 255);
//   border-radius: 100%;

//   // animation: orbit 4s forwards infinite;


//   $amplitude: 300px;
//   $x: calc(cos($angle) * $amplitude);
//   $y: calc(sin($angle) * $amplitude);

//   translate: $x $y;

//   animation: revolve 4s linear infinite;
//   animation-timing-function: linear;
// }



// @keyframes revolve {
//   #{}
//   from { $angle: 0deg; }
//   to { $angle: 360deg; }
// }

// @-webkit-keyframes orbit {
//     0% {  -webkit-transform: rotate(0deg) translateX(90px)  } 
//     100%   {  -webkit-transform: rotate(360deg) translateX(90px)  }
// }