#root::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  display: none;
}

@font-face {
  font-family: "abka";
  src: url("./assets/fonts/ABKAD DEMO/ABKADDEMO-PERSONALLICENSE.otf");
}

@font-face {
  font-family: "behence";
  src: url("./assets/fonts/behance-667c356f4c847/RuskaDisplay-Regular.otf");
}

@font-face {
  font-family: "feogra";
  src: url("./assets/fonts/Feogra - Demo/Feogra-Demo.otf");
}

@font-face {
  font-family: "heraka";
  src: url("./assets/fonts/Heraka/Heraka-PersonalUse.otf");
}

@font-face {
  font-family: "lemonglory";
  src: url("./assets/fonts/lemonglory Personal Use/Lemonglory-PersonalUse.otf");
}

@font-face {
  font-family: "lt-sarif";
  src: url("./assets/fonts/LTSerif Demo/LT. Serif Demo.otf");
}

@font-face {
  font-family: "necosmic";
  src: url("./assets/fonts/Necosmic Free/Necosmic-PersonalUse.otf");
}

@font-face {
  font-family: "think";
  src: url("./assets/fonts/Think-Sans-Serif-Typeface/Think.otf");
}

#root {
  width: 100vw;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-x: hidden;
  scrollbar-width: none;
  /*IE10+*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.app {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

#main {
  min-height: 100vh;
  height: 100%;

  padding: 0px 200px 30px 200px;
  background-color: #00000049;
  backdrop-filter: blur(200px);
  -webkit-backdrop-filter: blur(200px);
}

/* Experience */
.exp-container {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

#ps-link {
  color: white;
}


.exp {
  width: 100%;
  max-width: 1000px;
  a {
    color: rgba(255, 255, 255, 0.722);
  }
}

.playstation-svg {
  position: absolute;
  opacity: .3;
  mix-blend-mode:screen;
  height: 100vh;
  z-index: -1;
  right: -600px;
}

#app-link {
  display: block;
  width: max-content;
  font-weight: bold;
  color: white;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  max-width: 900px;
  margin-top: 10px;
}

.tech-list p {
  width: max-content;
  margin-right: 9px;
}

/* Home */
.home {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;

  animation: fade-in 3s ease-out;
}

.bio {
  width: 90%;
  height: 60%;
  font-size: 35px;
  font-weight: lighter;

  display: flex; 
  flex-direction: column;
  justify-content: space-around;
}

.bio p {
  margin-bottom: 40px;
  margin-top: 5px;
}

.wave-emoji {
  animation: emoji-wave 2s ease;
  animation-iteration-count: 2;

  width: 50px;
  height: 50px;

  margin: 10px;
  transform-origin: 90px 40px;
  display: inline-block;

  &:hover {
    animation: emoji-wave 2s ease infinite;
  }
}

@keyframes emoji-wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.mail {
  color: white;
  font-weight: 200;
}

.skill-project-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

/* skills */
@keyframes fade-in {
  from {
    filter: blur(100px);
    -webkit-filter: blur(100px);
  }
  to {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
}




.skills-container {
  height: 100vh;
  min-width: 650px;
  width: 60%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;

}

.subtitle {
  width: 100px;
  height: 50px;
  border-radius: 40px;
  margin-bottom: 50px;
}

.subtitle h2 {
  padding: 0;
  margin: 0;
  font-weight: lighter;

}

.tech-title {
  width: min-content
}

.tech-name {
  font-weight: lighter;
  margin-right: 10px;
}


.skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.hide-scrollbar {
  /*FireFox*/
  scrollbar-width: none;
  /*IE10+*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hide-scrollbar::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  display: none;
}

.link-container {
  display: flex;
  a {
    margin-right: 10px;
  }
  p {
    padding: 0;
    margin: 0;
    margin-right: 10px;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  width: 400px;
  font-weight: bold;
}

.links a {
  color: rgb(255, 255, 255);
  font-weight: lighter;
  margin: 0px;
  padding: 0px;
}


/* projects section */
.projects-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}

.project-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 650px;
  width: 650px;
}

.project-card {
  background-color: rgba(43, 43, 43, 0.136);
  padding: 20px;

  min-height: 240px;
  margin: 0px 20px 20px 0px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  width: 250px;
  a {
    color: white;
  }
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
}

#desc {
  font-weight: lighter;
}



@media only screen and (max-width: 1770px) {
  .skill-project-wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .skills-container {
    width: 100%;
    min-width: 0px;
    margin-right: 0px;
    justify-content: space-between;
  }
}


/* @media only screen and (max-width: 1200px) {
  #main {
    padding: 100px;
  }
} */




@media only screen and (max-width: 950px) {
  .statement {
    font-size: 13px;
  }
  #main {
    padding: 30px;
  }
  .playstation-svg {
    left: -200px;
  }
  .skills {
    font-size: 10px;
  }
  .skills div {
    margin-right: 10px;
  }

  .links {
    width: 240px;
    font-size: 13px;
    flex-wrap: wrap;
  }

  .bio {
    font-size: 22px;
    width: 100%;
  }

  .skills-container {
    min-width: none;
    margin: 0px;
  }

  .project-group {
    min-width: 0px;
    width: auto;
  }
  .project-card {
    width: 100%;
  }
  .links {
    justify-content: space-between;
    flex-wrap: wrap;
    height: min-content
  }

  .links a {
      margin-right: 10px;
      p {
        padding: 0px;
        margin: 0px;
      }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gnarly {
  transform-origin: 70% 70%;
  display: inline-block;
}

.statement {
  width: 300px;
  margin-right: 30px;
}